<h2>Por país</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
            (onEnter) = "buscar($event)"
            (onDebounce) = "sugerencias($event)"
            placeholder="Buscar por país ..."
        >
    </app-pais-input>
    </div>
</div>

<hr>
<div *ngIf="error" class="alert alert-danger">
    No se encontro el pais : {{termino}}
</div>

<div *ngIf="paisesR.length > 0" class="row">
    <div class="col">
        <app-table-pais [paisesR] = "paisesR" ></app-table-pais>
    </div>
</div>